.header-section{
  height: 250px;
  width: 1050px;
  
}
h1.header-section{
  color: rgb(190, 110, 18);
  text-align: center;
  padding-top: 125px;
  font-size: 36px;
}
.menu a{
  list-style: none;
  overflow: hidden;
  margin-left: 100px;
  margin-top: 20px;
  background-color: white;
  float: left;
  display: block;
  padding: 20px;
  

}

.menu a:hover{
  background-color: rgb(190, 110, 18);
}