body{
  line-height: 1.6;
}
.header-section{
  height: 250px;
  width: 1050px;
  
}
h1.header-section{
  color: rgb(190, 110, 18);
  text-align: center;
  padding-top: 125px;
  font-size: 36px;
}
.menu a{
  list-style: none;
  overflow: hidden;
  margin-left: 100px;
  margin-top: 20px;
  background-color: white;
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.menu a:hover{
  background-color: rgb(190, 110, 18);
  color: black;
}
/* clear float after the menu */
div::after{
  content: "";
  display: table;
  clear: both;

}

#profile-image{
  border-width: 3px;
  border-color: rgb(190, 110, 18);
  border-radius: 180px;
  height: 200px;
  width: 200px;
  float:left;
  padding: 16px;

}
.brief-intro{
  float: left;
  margin-top: 20px;
  width: 700px;
  background-color:white;
  font-size: large;
  
}
h1.brief-intro{
  color: rgb(190, 110, 18);
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
}
div::after {
  content: "";
  clear: both;
}
h1.titles{
  text-align: center;
  border-style: double;
  padding: 10px;
  border-color: black;
  color: rgb(190, 110, 18);

}

h3.dates{
  background-color:  rgb(236, 188, 133);
  
}
h4.institutions{
font-style: italic;

}

.left-side{
  padding: 20px;
  float: left;
  width: 450px;
}
.jkuat{
  width: 450px;
  float:right

}

p.description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
div::after {
  content: "";
  clear: both;
}